# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/

# Env files reales (deja el .env.example)
.env
!.env.example

# macOS
.DS_Store